/JavaApplication2/nbproject/private/
/JavaApplication2/build/
/PrimeiraAplicacao/nbproject/private/
/PrimeiraAplicacao/build/
/Segunda Semana/ComercioCadeira/nbproject/private/
/Segunda Semana/ComercioCadeira/build/